@use '../mixins' as *;
@use '../variables' as *;

h1 {
  @include clamp-type($space-8, 3vw, $space-12);
  line-height: 1.15;
}
h2 {
  @include clamp-type($space-6, 2.5vw, ($space-12 - $space-3));
  line-height: 1.2;
}

p {
  margin-block: $space-4;
}

a {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

:is(p, ul, ol, dl, blockquote) + * {
  margin-top: $space-3;
}
