@use 'variables' as *;
@use 'mixins' as *;

@use 'reset';
@use 'base';
@use 'layout';
@use 'components';
@use 'pages';

body {
  background-color: #fffaf1;
}

html.lock,
body.lock {
  overflow: hidden;
}
